<% layout('layout') -%>

<div class="row">
    <div class="actions">
        <form method="POST" action="/admin/database/createdb">
            <input type="text" name="dbname" />
            <button type="submit" class="btn btn-default">Create Database</button>
        </form>
    </div>
</div>    

<div class="row">
    <table class="table-striped table-bordered">
        <thead>
                <tr>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">Actions</th>

                </tr>
        </thead>
        <tbody>
        <% if (items) { %>
            <% items.forEach(function (item) { %>
                <tr>
                    <td><%= item %></td>
                    <td>
                    <% if (item == currentdbname) { %>
                    <span class="label label-success">Current</span>
                    <% } %>
                    </td>
                    <td>
                    <a class="btn btn-primary btn-xs" href="/admin/database/usedb/<%= item %>">Use DB</a>
                    <a class="btn btn-danger btn-xs" href="/admin/database/cleardb/<%= item %>">Clear DB</a>
                    <a class="btn btn-primary btn-xs" href="/admin/database/loaddb/<%= item %>">Load DB</a>
                    </td>
                </tr>
            <% }); %>
        <% } %>
        </tbody>
    </table>
</div>

<div class="row" >
    <h1 class="page-header">Memory</h1>
</div>


<div class="row">
    <table class="table-striped table-bordered">
        <thead>
                <tr>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">Actions</th>

                </tr>
        </thead>
        <tbody>

                <tr>
                    <td>Memory</td>
                    <td>
                    <% if (!currentdbname) { %>
                    <span class="label label-success">Current</span>
                    <% } %>
                    </td>
                    <td>
                    <a class="btn btn-primary btn-xs" href="/admin/database/usemem">Use Memory</a>
                    <a class="btn btn-danger btn-xs" href="/admin/database/clearmem">Clear Memory</a>
                    <a class="btn btn-primary btn-xs" href="/admin/database/loadmem">Load Memory</a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>


