<% layout('layout') -%>

<div class="row">
<form method="post">
<table class="table-striped table-bordered">
    <tr>
        <td>Feed</td>
        <td><input type='text' name='feed' class='input-xxlarge' value='<%= feed.url %>'></td>
    </tr>

</table>
<input class="btn btn-primary" type="submit" value="Apply" />
</form>
</div>